* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 40px 0;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.hero {
    text-align: center;
    padding: 100px 0;
}

